/***GENERAL***/
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    overflow: hidden;
    background-color: #16a085;
    -webkit-transform: translateZ(0);
}
textarea:focus, input:focus{
    outline: 0;
}
.h-center {
    margin-left: auto;
    margin-right: auto;
}
.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}


/***STACK PARTS***/
.stack {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
#stack-outer {
    width: 100%;
    min-height: 100%;
    height: 100%;
}
#stack-bottom {
    z-index: 1;
    background-image: url(../images/background.png);
    background-size: cover;
    opacity: 0.81;
}
#stack-top {
    z-index: 2;
    top: 100%;
    background-color: #1abc9c;
}
#triangle {
    border-color: #1abc9c;
    -webkit-transition: border-bottom-color 0.6s ease-in-out;
    -moz-transition: border-bottom-color 0.6s ease-in-out;
    -o-transition: border-bottom-color 0.6s ease-in-out;
    transition: border-bottom-color 0.6s ease-in-out;
}


/***BUTTONS***/
.button {
    cursor: pointer;
    background-color: transparent;
}
#next-button {
    position: absolute;
    right: -100%;
    border-radius: 50%;
    border: 3px solid #1abc9c;
    width: 70px;
    height: 70px;
    opacity: 0;
    text-align: center;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
#next-button i {
    font-size: 53px;
    color: #1abc9c;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 550px) {
    #next-button {
        width: 35px;
        height: 35px;
    }
    
    #next-button i {
        font-size: 29px;
    }
}


/***REVEAL***/
#reveal-container {
    text-align: center;
    top: 100%;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.clue-value {
    position: absolute;
    z-index: 3;
    color: black;
    font-size: 50px;
    width: 80px;
    bottom: 105%;
    background-color: white;
    border-radius: 50%;
    height: 80px;
    line-height: 1.6;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    opacity: 0.85;
    border: 1px solid lightgray;
}
.clue-value-photo {
    bottom: 110px !important;
}
.stack-photo {
    float: left;
    height: 200px;
    width: 200px;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.stack-photo img {
    border: 6px solid #fff;
    width: 200px;
}
.stack-photo:before {
    content: "";
    height: 200px; width: 200px;
    background: #ebefe0;
    border: 6px solid #fff;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: -10px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.stack-photo:after {
    content: "";
    height: 200px;
    width: 200px;
    background: #697076;
    border: 6px solid #fff;
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 0px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
}
.paper {
    text-align: left;
    font: 15px 'Amatic SC', cursive;
    color: #282625;
    margin: 0 auto;
    width: 50%;
    line-height: 30px;
    padding: 37px 55px 27px;
    position: relative;
    border: 1px solid #B5B5B5;
    background: white;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size: 100% 30px;
}
.paper::before {
    content: "";
    z-index: -1;
    margin: 0 1px;
    width: 60%;
    height: 10px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background: white;
    border: 1px solid #B5B5B5;
}
.paper::after {
    content: "";
    position: absolute;
    width: 0px;
    top: 0;
    left: 39px;
    bottom: 0;
    border-left: 1px solid #F8D3D3;
}


/***CLUE BOX***/
#question-box {
    width: 500px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    position: relative;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#question-box-top {
    width: 100%;
    height: 120px;
    background-color: #16a085;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid rgba(0,0,0,.13);
    color: #ecf0f1;
}
#question-box-bottom {
    width: 100%;
    height: 110px;
    text-align: center;
    background-color: #ecf0f1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #444;
}
#question-header {
    /*padding: 5px 10px;*/
    padding: 10px;
    font-weight: 300;
    font-size: 25px;
    /*padding-bottom: 0px;*/
}
#question {
    padding: 0px 10px 10px 10px;
}
#answer-submit {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ecf0f1;
    border-radius: 50%;
    margin-left: 401px;
    margin-top: -25px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    text-align: center;
    cursor: pointer;
}
#answer-submit i {
    font-size: 27px;
    color: #696969;
}
#answer-submit i:before {
    padding-top: 10px;
}
#answer-header {
    text-align: left;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 10px;
}
#answer {
    font-size: 16px;
    background-color: transparent;
    border-width: 0px;
    width: 50%;
    color: #444;
    padding: 5px;
    border-bottom: 1px solid #444;
    border-radius: 0px;
}
@media screen and (max-width: 550px) {
    #question-box {
        width: 90%;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
    
    #answer-submit {
        margin-left: 78%;
    }
}